.colorful {
	background-color: blue;
	color:white;
	width: 100%;
	height: 3em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.colorful:hover {
	background-color: red;
}

.note {
	font-size:0.75em;
	margin-top:4em;
}

.bigish {
	font-size:4em;
}

.big {
	font-size:1.75em;
	margin-top:1em;
	line-height:1.25em;
}

.body-copy-before-image {
	margin-bottom:2em;
}

.topoutline {
	background-color: white;
	border-bottom-style:solid;
	border-bottom-color: black;
	border-bottom-width: 2px
}

#reversedhamburger {
	background-color: white;
	color:black;
}

header a.funoutlinebutton {
	background-color: white;
	color:black;
}

header a.funoutlinebutton:hover {
	background-color: white;
	color:black;
	text-decoration:underline;
}

.blackdrawer {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.blackdrawer h4 a {
	color:black;
	background-color: white;
}

.blackdrawer a:hover {
	color:black;
	text-decoration: underline;
}

.blackdrawer a:visited {
	color:black;
	text-decoration: underline;
}

.second-level {
	font-size:2em;
	margin-top:1em;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#citationbomb-top {
	padding-top:2.5em;
}